@reference "tailwindcss";

.space {
    @apply italic
        w-fit transition-all py-3
        border-r-gray-600 relative;
}

.sect_active,
.space:hover {
    @apply rounded-full bg-gray-200/70;
}

.sect_active .body,
.space:hover .body {
    @apply border-r-transparent;
}

.space:last-of-type .body {
    @apply border-r-0 pr-5;
}

.space:first-child .body {
    @apply pl-5;
}

.space:has(+ .is_focused) .body,
.space:has(+ .space:hover) .body {
    @apply border-r-transparent;

}

.body {
    @apply flex flex-col gap-1.5
        transition-colors duration-300
        w-fit px-5 border-r;
}

.label {
    @apply font-bold duration-300 transition-all
        z-20 px-2;
}

.light {
    @apply text-amber-500;
}

.input_space {
    @apply flex flex-col gap-0.5 z-20;
}

.input {
    @apply py-0.5 outline-0 border-b 
        border-transparent px-1 duration-300 
        transition-all w-50 text-xs;
}

.underline_load {
    animation: load 0.5s ease forwards;
}

.underline_load_back {
    animation: load_back 0.5s ease forwards;
}

.underline {
	width: 0%;
	@apply block h-0.5
		cursor-pointer duration-300
		transition-all rounded-full;
}

@keyframes load{
    from { width: 0%; }
    to { width: 100%; }
}

@keyframes load_back {
    from { width: 100%; }
    to { width: 0%; }
}

@media (max-width: 1024px) {
    .body {
        @apply px-4;
    }

    .input {
        @apply w-44;
    }
}

@media (max-width: 945px) {
    .space {
        @apply w-full pt-0 pb-0 
            rounded-none border-b 
            border-b-gray-600;
    }

    .space:last-of-type {
        @apply border-b-0;
    }

    .space:hover {
        @apply rounded-none;
    }

    .body {
        @apply w-full border-r-0
            px-4 pt-3 pb-2 gap-0.5;
    }

    .label {
        @apply px-0;
    }

    .input {
        @apply w-full text-base py-1;
    }

    @keyframes load{
        from { width: 0%; }
        to { width: 60%; }
    }

    @keyframes load_back {
        from { width: 60%; }
        to { width: 0%; }
    }
}

@media (max-width: 480px) {
    .body {
        @apply px-3 pb-1.5 gap-0;
    }

    .label {
        @apply text-sm;
    }

    .input {
        @apply px-0.5 py-[0.1rem];
    }

    .space:first-child .body {
        @apply px-3;
    }

    @keyframes load{
        from { width: 0%; }
        to { width: 80%; }
    }

    @keyframes load_back {
        from { width: 80%; }
        to { width: 0%; }
    }
}
