@reference "tailwindcss";

.wrapper {
    @apply grid;
    grid-template-columns: auto minmax(130px, 250px) minmax(350px, 1080px) auto;
    min-height: 90vh;
    grid-template-areas: ". menu page .";
}

.aside {
    grid-area: menu;
    @apply py-10;
}

.page {
    @apply relative; 
    grid-area: page;
}

@media (max-width: 1270px) {
    .wrapper {
        @apply px-10;
    }
}

@media (max-width: 680px) {
    .wrapper {
        @apply flex flex-col;
    }

    .aside {
        @apply sticky top-3 z-20 
            flex items-center pt-3.5
            pb-4;
    }
}

@media (max-width: 560px) {
    .aside {
        @apply pt-2;
    }
}