NEXT_PUBLIC_BASE_PATH=
NEXT_PUBLIC_BASE_URL=
API_URL=http://localhost:8000/api
NEXT_PUBLIC_SIRET_NUMBER=12345678901234
TELEGRAM_BOT_NOTIFY_URL=http://127.0.0.1:8765/notify-purchase
TELEGRAM_NOTIFY_SECRET=
