@reference "tailwindcss";

.title {
    @apply font-semibold text-center text-2xl
        text-neutral-500;
}

.list_wrap {
    @apply rounded-2xl w-full py-2
        flex justify-center items-center
        sticky bg-white/40 backdrop-blur-3xl
        border border-zinc-300 top-20;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.list {
    @apply relative flex flex-col
        gap-1 pl-1 text-neutral-500
        px-4;
}

@media (max-width: 680px) {
    .list_wrap {
        @apply overflow-x-auto py-1 px-3
            w-fit;
        
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .list_wrap::-webkit-scrollbar {
        display: none;
    }

    .list {
        @apply flex-row gap-6 h-5
            overflow-y-auto overflow-visible 
            w-max text-sm;
        
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .list li,
    .list a {
        @apply whitespace-nowrap shrink-0;
    }
}