@reference "tailwindcss";

.wrapper {
    display: grid;
    grid-template-columns: auto minmax(270px, 1440px) auto;
    grid-template-areas: 
        "header header header"
        ". main ."
        "footer footer footer"
}

.main {
    @apply min-h-screen w-full;
    grid-area: main;
}

.header {
    @apply sticky top-0;
    grid-area: header;
}

.footer {
    grid-area: footer;
}

@media (max-width: 1270px) {
    .wrapper {
        grid-template-areas: 
            "header header header"
            "main main main"
            "footer footer footer"
    }
}

@media (max-width: 1024px) {
    .wrapper {
        grid-template-columns: minmax(0, 1fr);
        grid-template-areas:
            "header"
            "main"
            "footer";
    }
}

@media (max-width: 768px) {
    .main {
        @apply overflow-x-hidden;
    }
}
