@reference "tailwindcss";

.container {
    @apply grid justify-center px-3 pb-15 pt-3;
    grid-template-columns: auto minmax(260px, 1080px) auto;
    grid-template-areas: ". main .";
}

.wrapper {
    grid-area: main;
    @apply flex flex-col gap-20 items-center;
}

.divider {
    @apply h-0.5 text-transparent 
        bg-neutral-300 rounded-full
        w-[95%] text-center;
}

@media (max-width: 768px) {
    .wrapper {
        @apply gap-10;
    }
}